	.customcard {
		width: 100%;
		background-color: #f7f7f7;
		border-radius: 20px;
		height: 1000px;
	}
	.cardtext{
		padding-left: 7%;
		padding-bottom: 7%;
		padding-right: 7%;
		font-size: 18px;
		line-height: 25px; 
		color:#323130;
	}
	.cardtitle{
		padding-left: 7%;
		padding-top: 7%;
                
		padding-right: 7%;
		font-size: 25px;
		line-height: 35px; 
		color:#323130;
		font-weight: 600;
	}
	.fa-angle-down{
			color:#03787c;
			font-size: 54px;
			float: right;
			margin-right: 30px;
			margin-top:-20px;
		}
		a {
		color: #03787c;
		}